/* This file is for overriding the default css 
in the experiences carousel.  */
@import "../../basestyles.scss";

.slick-slider {
  margin: 0 0 2em;
}


.slick-slider button {
    box-shadow: 0 0 0 black;
  }

  .slick-dots {
    // width: 90%;
    margin: 0 auto;
    bottom: -3em !important;
  }
  .slick-slider .slick-prev {
    left: 10px;
    z-index: -10; // hides the arrows for mobile
  }

  .slick-slider .slick-next {
    right: 10px;
    box-shadow: 0 0 0 black;
    z-index: -10; // hides the arrows for mobile
  }

@media (min-width: 767px) {
  .slick-slider {
    // padding: 0 1.5em;
  }

  .slick-arrow {
    z-index: 1000;
    transform: scale(1.5);
    transition: all ease-in-out 0.7s;
  }

  .slick-arrow:hover {
    transform: scale(2);
  }
  .slick-slider .slick-prev,
  .slick-slider .slick-next {
    z-index: 10; // brings the arows out for desktop
  }

  .slick-prev:before,
  .slick-next:before {
    color: $secondary3 !important;
  }

}
