@import "../../../basestyles.scss";
.event {
  border: solid 1px lightgrey;
  padding: 1em;
  margin: 1em;
}

.eventdetails {
  display: flex !important;
  flex-wrap: nowrap;
}

.block1 {
  text-align: center;
  flex-wrap: wrap;
}

.block2 {
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  flex-direction: column;
  vertical-align: top;
  padding: 0 0.25em 0 1em;
}

.block2 > div {
  margin-bottom: 1em;
}

.datecontainer {
  border: solid 1px lightgray;
  border-bottom: none; // prevents doubling bordering in between icon and date.
}

.date {
  margin: 0;
  width: 100%;
  padding: 0.25em 0.75em;
  color: $secondary3;
  font-weight: bold;
}

.month {
  margin: 0;
  width: 100%;
  padding: 0.25em 0.75em;
  text-transform: uppercase;
}

.description {
  width: 100%;
}
