@import "./basestyles.scss";

.pagecontainer {
    padding: 1em;
    max-width: 1000px;
    margin: 0 auto;
}

.primarybtn {
    padding: 0.5em 1em;
    background-color: $primary1;
    color: white;
    border: none;
    border-radius: 0.2em;
    &:hover{
        opacity: 0.8;
    }
}

.Footer-module--footer--VUGIP 
    // footer was flying all over the place so fixed to bottom of the page for now
    position: fixed
    bottom: 0px
